<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD88T8EtYalJDxmXkpHLhZ5Pu0IhL9JFDw</string>
	<key>GCM_SENDER_ID</key>
	<string>615831472146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.healthcare.athome</string>
	<key>PROJECT_ID</key>
	<string>athome-2317b</string>
	<key>STORAGE_BUCKET</key>
	<string>athome-2317b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:615831472146:ios:18f11004e23d939b1b70cb</string>
</dict>
</plist>